@model Rosterer.Frontend.Models.EventModel
<h3>Event</h3>

@using (Ajax.BeginForm("Create","Event", new AjaxOptions() { OnSuccess = "CloseVenueModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
{
    <div class="editor-label">
        @Html.LabelFor(m => m.StartDate)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.StartDate,new { @class = "date"})
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.EndDate)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.EndDate, new { @class = "date" })
        @Html.ValidationMessageFor(m => m.EndDate)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.SelectedVenueId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.SelectedVenueId,Model.VenuesList)
        @Html.ValidationMessageFor(m => m.SelectedVenueId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.StaffList)
    </div>
    <div class="editor-field">
        @Html.ListBoxFor(m => m.SelectedStaff, Model.StaffList)
        @Html.ValidationMessageFor(m => m.SelectedStaff)
    </div>
    <input type="submit" value="New Event"/>
}
        