@using Rosterer.Frontend.Models
@model Rosterer.Frontend.Models.VenueModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Venue</h3>
</div>
@{Html.EnableClientValidation();}
@Html.ValidationSummary(true, "Venue Creation was unsuccessful. Please correct the errors and try again.")
@using (Ajax.BeginForm("Create", new AjaxOptions() { OnSuccess = "CloseVenueModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
{
    <div class="modal-body">
        <div class="column">
            <div class="editor-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Address1)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Address1)
                @Html.ValidationMessageFor(m => m.Address1)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Address2)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Address2)
                @Html.ValidationMessageFor(m => m.Address2)
            </div>
        </div>
        <div class="column">
            <div class="editor-label">
                @Html.LabelFor(m => m.State)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.State,new SelectList(Enum.GetNames(typeof(State))))
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.RegionName)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.RegionName,Model.RegionList)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Notes)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Notes,5,30,new{})
            </div>
        </div>
    </div>
<div class="modal-footer">
   <a href="#" class="btn" data-dismiss="modal">Close</a>   
   <input type="submit" value="New Event" class="btn btn-primary"/>
</div>
        
    
}
