@using Rosterer.Frontend.Models
@model HomeModel

@section Navigation{
    <ul class="nav">
        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Help", "Help", "Home")</li>
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Create New User", "Register", "Account")</li>
        }
    </ul>
    <div class="nav-collapse">
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Book time off</a></li>
                    <li><a href="#">Print</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu admin">
                    <li>@Html.ActionLink("Create new user","Register","Account")</li>
                    <li class="divider"></li>
                    <li class="nav-header">Filter Users</li>
                    @foreach(var staffmember in Model.Staff)
            {
                <li style="padding:3px 15px;">
                    <input type="checkbox" name="staff" value="@staffmember.Id" checked="checked"/><span class="label" style="background-color: @System.Drawing.ColorTranslator.ToHtml(staffmember.Color)">@staffmember.Initials</span>
                </li>
            }
                    <li class="divider"></li>
                    <li class="nav-header">Filter Venues</li>
                    @foreach (var venueModel in Model.Venues)
            {
                <li style="padding:3px 15px;">
                    <input type="checkbox" name="venues" value="@venueModel.Id" checked="checked"/> @venueModel.Name
                </li>
            }
                </ul>
            </li>
        </ul>
    </div>
}

<div id="logindisplay">
    @Html.Partial("_LogOnPartial")
</div>

<h2 id="thisMonth"></h2>
<div class="roster">
    <div id="progress"><img src="/Content/Images/ajax-loader.gif" alt="" /></div>
</div>

<div class="modal hide fade" id="venueform" title="New Venue">
    @Html.Partial("VenueForm", new VenueModel())
</div>

<div class="modal hide fade" id="eventform" title="Event">
   <p>event</p>
</div>

@section Scripts
{
<script type="text/javascript " src="/Scripts/isodate.js"></script>
    <script type="text/javascript">

        var CloseVenueModal = function (data) {
            $("#venueform").modal('hide');
            alert(data);
        };

        var CloseEventModal = function (data) {
            $("#eventform").modal('hide');
            $('#eventform').html();
            alert(data.StartDate);
        };

        var showProgress = function (element) {
            $('#progress').show();
        };
        var hideProgress = function() {
            $('#progress').hide();
        };

        var PopulateWeek = function (year, week) {  
            //showProgress($(".roster"));
            $.ajax({
                type: "GET",
                url: "Week?year=" + year + "&week=" + week,
                async: false,
                success: function (result) {
                    $(".roster").append(result);
                    hideProgress();
                }
            });

        };

        $(document).ready(function () {

            var d = new Date();
            var newdate = new Date(d.getFullYear(), d.getMonth(), 1, 0, 0, 0, 1);
            var weeknumber = newdate.getWeek(1);
            for (var i = weeknumber; i <= weeknumber + 4; i++)
                PopulateWeek(newdate.getFullYear(), i);
            $('#thisMonth').html(newdate.getMonthName() + ' ' + newdate.getFullYear());


            $(".roster .week .day .addevent").click(
                function () {
                    $.ajax({
                        type: "GET",
                        url: "Event/Create",
                        data: { startDate: $(this).parent().attr('title') },
                        async: false,

                        success: function (result) {
                            // Replace the div's content with the page method's return.
                            $("#eventform").html(result);
                            $('.date').not('.hasDatePicker').datetimepicker();
                            $("#eventform").modal('show');
                            jQuery.validator.unobtrusive.parse('#eventform');
                        }
                    });
                }

            );


            $("#openVenueForm").click(function () {
                $("#venueform").modal('show');
            });

            $("#closeVenueForm").click(function () {
                CloseVenueModal();
            });

            //fix checkboxes collpasing drop-down nav
            $('ul.dropdown-menu.admin li').click(function (event) {
                event.stopPropagation();
            });
        });
    </script>
}